<div id="test">
<h1>home component</h1>

Xin chào bạn {{ name }} !!! 
<br>
<input type="text" value="{{name}}">
<br>
<input type="text" [value]="name">

<br>
<input type="text" [value]="name" title="Đây là {{name}}">


<br>

<h2 *ngIf="age > 18 ">Xin chào ông già !! </h2>

<h2 *ngIf="age <= 18">Bạn còn rất trẻ !! </h2>

<br>

<div id="test">
    <h1>NgModel , two way binding</h1>
    <input type="text" [(ngModel)]="name">
    <br>
    <h2>Xin chào {{ name }}</h2>
    <br>
    <button (click)="resetName()"> Reset Name </button>

</div>

<br>

<div id="test">
    <h1>ngTemplate</h1>
    <h2>Bạn đang {{ age }} tuổi</h2>
    <input type="text" [(ngModel)]="age">
     <h4 *ngIf="age >= 18 then gia; else tre;"></h4>
    <ng-template #tre><h2>Bạn còn quá trẻ</h2></ng-template>
    <ng-template #gia><h2>Bạn đã già</h2></ng-template>
</div>
<br>

<div id="test">
    <h1>ng For </h1>

    <h1>Danh sách trái cây</h1>

    <div *ngFor="let item of traiCay; let i = index">
        <li>{{ i+1 }}. {{ item }}</li>
    </div>
</div>


</div>

